@import '../general/resolutions.scss';
@import '../general/colors.scss';

.admin-nav {
    height: 100%;
    min-height: 100vh;
    padding: 15px;
    background-color: #F4F5F7;

    &__logo {
        padding-left: 15px;
        margin-bottom: 25px;
    }
    
    &__link {
        text-decoration: none;
    }

    &__item {
        border-radius: 15px;
        padding: 15px 0px 15px 15px;
        transition: 0.4s;

        &:hover {
            background-color: #E6E7EB;
        }
 
        &:hover > .admin-nav__icon {
            background-color: $primary-admin;
        }
         
        &:hover > .admin-nav__title {
            color: $primary-admin;
        }

        &_active {
            background-color: #E6E7EB;

            & > .admin-nav__icon {
                background-color: $primary-admin;
            }
           
            & > .admin-nav__title {
                color: $primary-admin;
            }
        }
  
    }

    &__icon {
        content: '';
        width: 28px;
        height: 28px;
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: gray;
        margin-right: 10px;
        

        &_orders {
            mask-image: url('../../assets/images/order-delivery.svg');
        }

        &_products {
            mask-image: url('../../assets/images/product.svg');
        }

        &_categories {
            mask-image: url('../../assets/images/categories.svg');
        }

        &_dashboard {
            mask-image: url('../../assets/images/shop.svg');
        }

        &_home {
            mask-image: url('../../assets/images/home.svg');
        }
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
    }
}