@import '../general/colors.scss';

.category-editor {
    width: 100%;

    &__title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__created-categories {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between !important;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $third-gray;
        margin-bottom: 20px;
    }

    &__form {
        flex: 1;
    }

    &__left-form {
        padding-right: 30px;
    }

    &__right-form {
        flex: 1;
        height: 100%;
    }

    &__edit-img-cont {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        transition: 0.4s;

        &:hover>.category-editor__edit-img-border {
            border: dashed $secondary-dark;
        }

        &:hover .category-editor__edit-img-icon {
            background-color: $secondary-dark;
        }
    }

    &__edit-img-border {
        border: dashed rgb(158, 158, 158);
        transition: 0.4s;
    }

    &__edit-img {
        width: 330px;
        height: 330px;
    }

    &__edit-img-icon {
        background-color: rgb(158, 158, 158);
        transition: 0.4s;

        content: "";
        mask-size: contain;
        mask-image: url('../../assets/images/image.svg');
        mask-repeat: no-repeat;
    }

    &__editor-head {
        justify-content: space-between !important;
    }

    &__clear-btn {
        color: white;
        padding: 7px 25px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 0.4s;

        background-color: $primary-admin;

        &:hover {
            background-color: $primary-admin-hover;
        }
    }

    &__action-btn {
        width: 100%;
        height: 70px;
        margin-top: 5px;

        text-align: center;
        font-size: 22px;
        color: white;
        cursor: pointer;
        transition: 0.4s;

        &_accept {
            background-color: $primary-admin;

            &:hover {
                background-color: $primary-admin-hover;
            }
        }

        &_delete {
            background-color: rgb(221, 51, 51);

            &:hover {
                background-color: rgb(172, 33, 33);
            }
        }
    }

    &__name {
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__key-attrs {
        font-size: 24px;
        margin: 10px 0px;
    }

    &__key-attrs-list {}

    &__key-attr-item {
        width: 100%;
    }

    &__input {
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 14px;
        border: 1px solid $third-gray;
        margin: 5px 0px;
    }

    &__del-attr {
        width: 42px;
        height: 42px;
        margin-left: 10px;
        background-color: $primary-admin;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            background-color: $primary-admin-hover;
        }
    }
}