@import '../general/colors.scss';

.orders {
    &__title {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0px;
    }

    &__content {
        border: 1px solid $primary-gray;
        border-radius: 5px;
        padding: 15px;

    }

    &__head {
        justify-content: space-between !important;
    }

    &__orders-count {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0px;
    }

    &__actions {
        flex: 1;
        height: 35px;
    }

    &__date-interval {
        margin-right: 10px;
    }

    &__date-picker {
        padding: 5px;
        outline: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__date-hyphen {
        margin: 0px 10px;
        font-size: 18px;
        font-weight: bold;
    }

    &__delete-btn {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.4s;
        mask-size: contain;
        mask-image: url('../../assets/images/delete.svg');
        background-color: $primary-dark;

        &:hover {
            background-color: rgb(255, 75, 75);
        }
    }

    &__search {
        flex: 1;
        height: 100%;

        border: 1px solid $primary-gray;
        border-radius: 5px;
        margin: 0px 15px;
        padding: 0px 10px;
        outline: none;
    }

    &__export {
        height: 100%;
        width: 130px;
        border: 1px solid $primary-gray;
        border-radius: 5px;
        padding: 0px 20px;
        background-color: $primary-admin;
        color: white;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
    }

    &__list-header {
        justify-content: space-between !important;
        margin: 10px 0px;
        padding: 10px;
        border-radius: 5px;
        background-color: $primary-dark;
    }

    &__column {
        flex: 1;
        font-weight: bold;

        &_value {
            font-weight: normal;
        }

        &_touchable {
            cursor: pointer;
        }

        &_small {
            flex: 0.5;
        }
    }

    &__column-text {
        color: white;
        position: relative;
        height: 100%;
        padding-right: 15px;

        &_sort {
            &::after {
                position: absolute;
                right: 0;
                top: 4px;
                content: ' ';
                border-bottom: 5px solid rgb(155, 155, 155) !important;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                cursor: pointer;
            }

            &::before {
                position: absolute;
                right: 0;
                bottom: 4px;
                content: ' ';
                border-top: 5px solid rgb(155, 155, 155) !important;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                cursor: pointer;
            }
        }

        &_sort-asc {
            &::after {
                border-bottom: 5px solid rgba(177, 177, 177, 0.6) !important;
            }

            &::before {
                border-top: 5px solid white !important;
            }
        }

        &_sort-desc {
            &::after {
                border-bottom: 5px solid white !important;
            }

            &::before {
                border-top: 5px solid rgba(177, 177, 177, 0.6) !important;
            }
        }

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    &__column-checker {
        margin-right: 20px;
    }

    &__list {

        &_loading {
            li {
                pointer-events: none;
                opacity: 0.4;
            }
        }

    }

    &__item {
        border-bottom: 1px solid $primary-gray;
        padding: 15px 10px;
    }

    &__status {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        color: white;

        &_yellow {
            background-color: #ef9e01;
        }

        &_red {
            background-color: #c12c2d;
        }

        &_green {
            background-color: #028f10;
        }

        &_gray {
            background-color: gray;
        }
    }

    &__arrow {
        margin-left: 3px;
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-right: 3px solid black;
        border-top: 3px solid black;
        transform: rotate(225deg);
        cursor: pointer;
        transition: 0.15s;

        &_active {
            transform: rotate(135deg);
        }
    }

    &__short-info {
        width: 100%;
    }

    &__extended-info {
        max-height: 0px;
        width: 100%;
        transition: 0.15s;
        transform: scaleY(0);
        transform-origin: top;

        &_visible {
            margin-top: 30px;
            max-height: 700px;
            transform: scaleY(1);
        }
    }

    &__ex-info-column {
        flex: 1;
    }

    &__ex-info-row {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__ex-info-text {
        font-size: 14px;

        &_attr {
            min-width: 80px;
        }

        &_value {

            font-weight: normal;
            color: gray;
        }
    }

    &__ex-info-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__ex-info-footer {
        margin-top: 15px;
        justify-content: space-between;
        width: 100%;
    }

    &__status-editor {}

    &__status-item {
        margin: 0px 5px;
        cursor: pointer;
        transition: 0.2s;

        &:first-child {
            margin: 0;
        }

        &_inactive {
            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__total-price {
        font-size: 20px;
        font-weight: bold;

        span {
            padding-left: 10px;
        }
    }

    &__loader {
        min-height: 300px;
    }

    &__pagination {
        height: 35px;
        margin-top: 10px;
    }

    &__pagination-arrow {
        width: 35px;
        height: 35px;
        background-color: $primary-admin;
        color: white;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__page-number {
        min-width: 60px;
        height: 100%;
        padding: 15px;
        outline: none;
        margin: 0px 10px;
        font-size: 14px;
        border: 1px solid $primary-gray;
    }


}