@import '../general/colors.scss';
@import '../general/resolutions.scss';

.filters {
    min-width: 300px;
    padding: 0px 30px 0px 0px;

    @media (max-width: $tablet-horizontal) {
        position: fixed;
        top: 0;
        left: -450px;
        padding: 20px;
        min-height: 100vh;
        max-width: 350px;
        width: 100%;
        background-color: white;
        z-index: 10;
        transition: 0.25s;
    }

    &__mask {
        @media (max-width: $tablet-horizontal) {
            position: fixed;
            top: 0;
            left: 0px;
            width: 100%;
            height: 100vh;
            z-index: -10;
            transition: 0.25s;
        }

        &_opened>.filters {
            left: 0;
        }

        &_opened {
            z-index: 100;
            pointer-events: all;
            background-color: rgba(0, 0, 0, 0.534);
        }
    }

    &__close-btn {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 24px;
        width: 24px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: calc(50% - 1px);
            right: 0;
            width: 20px;
            height: 2px;
            content: "";
            -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
            background-color: $primary;
        }

        &::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        @media (max-width: $tablet-horizontal) {
            display: block;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 28px;
        padding: 15px 0px 15px 0px;
        color: black;

        @media (max-width: $tablet-horizontal) {
            padding: 0px 0px 15px 0px;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: rgb(211, 211, 211);
        margin-bottom: 20px;
    }

    &__price {
        margin: 15px 0px 15px 0px;
    }

    &__attr {
        padding: 10px 0px 10px 0px;
    }

    &__attr-name {
        font-size: 20px;
        padding-bottom: 5px;
        font-weight: 500;
    }

    &__attr-list {
        list-style-type: none;
    }

    &__attr-item {
        cursor: pointer;
        margin: 10px 0px 10px 0px;

        &:hover>.filters__checkmark {
            border: 1px solid $primary;
        }
    }

    &__attr-value {
        display: block;
        position: relative;
        padding-left: 25px;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            color: $primary;
        }

        &:hover>.filters__checkmark {
            border: 1px solid $primary;
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked~.filters__checkmark {
            border: 1px solid $primary;
        }

        &:checked~.filters__checkmark::after {
            display: block;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid rgb(161, 161, 161);

        &::after {
            content: "";
            display: none;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background: $primary;
        }
    }

    &__attr-value {}
}