@import '../../../../styles/constants/colors.scss';
@import '../../../../styles/constants/resolutions.scss';

.table {

    width: 100%;

    &__row {
        width: 100%;
        line-height: 20px;
        font-weight: normal;
        text-decoration: none;
        margin: 0px;
        border: 1px solid #eaeaea;
    }

    &__row-parametr {
        width: 33%;
        padding: 12px;
        font-weight: bold;
        border-right: 1px solid #eaeaea;
    }

    &__row-value {
        width: 66%;
        padding: 12px;
    }
}