@import '../../../../styles/constants/colors.scss';
@import '../../../../styles/constants/resolutions.scss';

.product-editor {

    &__product-list {
        width: 100%;
        margin-bottom: 20px;
    }

    &__form {
        padding-bottom: 20px;
    }

    &__form-head {
        width: 100%;
        justify-content: space-between !important;
        margin-bottom: 10px;
    }

    &__prev {
        width: 100%;
        min-height: 400px;

        @media (max-width: $tablet-horizontal) {
            flex-direction: column;
        }
    }

    &__prev-product {
        width: 100%;
        max-height: 100%;

        &_small {
            max-width: 300px;
            padding: 15px 0px 0px 15px;
        }

        &_quick-view {
            flex: 1;
            padding: 15px 15px 0px 0px;

        }
    }

    &__chars {
        width: 100%;
    }

    &__chars-editor {
        width: 100%;
    }

    &__attribute-name {
        width: 100px;
        margin-right: 10px;
    }

    &__attribute-value {
        flex: 1;
    }

    &__uploader {
        width: 100%;
        height: 150px;
        border: 2px dashed rgb(158, 158, 158);
        transition: 0.4s;
        pointer-events: none;
        margin-bottom: 15px;
    }

    &__uploader-icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background-color: $primary-dark;
        transition: 0.4s;

        content: "";
        mask-size: contain;
        mask-image: url('../../../../assets/images/image.svg');
        mask-repeat: no-repeat;
    }

    &__uploader-text {
        font-weight: bold;

        b {
            pointer-events: all;
            cursor: pointer;
            color: $primary-admin-light;
        }

    }

    &__images {
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
    }

    &__main-image {
        width: auto;
        height: 100%;
        padding: 5px;
        border: 1px solid $third-gray;
        margin-right: 20px;
    }

    &__image-grid {
        flex: 1;
        flex-wrap: wrap;
        height: 100%;
        padding: 10px;
        border: 1px solid $third-gray;
        overflow-y: scroll;


    }

    &__image-grid-item {
        position: relative;
        height: calc(50% - 15px);
        min-height: 100px;
        margin: 5px;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            box-shadow: 0px 0px 5px gray;
        }

        &:hover .product-editor__del-img {
            display: flex;
        }

        &_active {
            border: 3px solid $primary-admin;
            box-shadow: 0px 0px 0px gray;
        }
    }

    &__image-item {
        width: auto;
        height: 100%;
    }

    &__del-img {
        display: none;
        position: absolute;
        top: -8px;
        right: -8px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $primary-admin;
        color: white;
        z-index: 5;

        &:hover {
            background-color: $primary-admin-hover;
        }
    }
}