@import '../../../styles/constants/colors.scss';
@import '../../../styles/constants/resolutions.scss';

.checkout-product {
    justify-content: space-between;
    width: 100%;
    height: 72px;
    margin-bottom: 32px;


    @media (max-width: $mobile-vertical) {
        height: 160px;
        margin: 16px 0px;
        flex-direction: column;
    }

    &__info {
        max-width: 450px;
        min-width: 0;
        width: 100%;

        @media (max-width: $mobile-vertical) {
            max-width: 100%;
        }
    }

    &__image {
        width: auto;
        height: 72px;
        border: 1px solid #eaeaea;
        margin-right: 12px;
    }

    &__desc {
        min-width: 0;
        justify-content: space-between;
        margin-right: 16px;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__brand {
        font-size: 14px;
        color: gray;
    }

    &__remove {
        font-size: 14px;
        color: rgb(255, 94, 94);
        transition: .25s;
        cursor: pointer;

        &:hover {
            color: rgb(255, 139, 139);
        }
    }

    &__quantity-counter {
        justify-content: space-between;
        min-width: 80px;
    }

    &__quantity-action {
        height: max-content;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        padding: 0px 4px;
    }

    &__quantity {
        width: 40px;
        height: max-content;
        font-size: 18px;
        margin: 0px 4px;
        padding: 0px 4px;
        border: 2px solid #eaeaea;
        text-align: center;
    }

    &__price {
        font-size: 14px;
        min-width: 64px;
        font-weight: bold;
        height: 28px;
        text-align: center;
    }

    &__prices-subtitle {
        margin-bottom: 8px;
        font-size: 14px;
        color: gray;
    }

    &__prices {
        justify-content: space-between;
        width: 100%;
        max-width: 400px;

        @media (max-width: $mobile-horizontal) {
            max-width: 100%;
            margin: 16px 0px;
            justify-content: space-between;
        }
    }
}