@import '../../../styles/general/colors.scss';

.cart-button {
    border-radius: 5px;
    padding: 13px;
    background-color: #ebebeb;
    transition: 0.4s;
    cursor: pointer;
    transition: 0.4s;

    &_primary {
        background-color: $primary;

        &:hover {
            background-color: $primary-dark  !important;
        }
    }

    &_primary>&__btn {
        color: white;
    }

    &_primary>&__img {
        background-color: white;
    }

    &_added {
        cursor: default;
        background-color: $primary-dark;
        pointer-events: none;
    }

    &_added>&__btn {
        color: white;
    }

    &_added>&__img {
        background-color: white;
    }

    &:hover {
        background-color: $primary;
    }

    &:hover>&__btn {
        color: white;
    }

    &:hover>&__img {
        background-color: white;
    }

    &__img {
        width: 18px;
        height: 19px;
        mask-size: contain;
        mask-image: url('../../../assets/images/shopping-bag.svg');
        mask-repeat: no-repeat;
        background-color: $primary-dark;
        transition: 0.4s;
    }

    &__btn {
        font-size: 14px;
        line-height: 18px;
        margin-left: 10px;
        transition: 0.4s;
        color: $primary-dark;
    }
}