/* $primary: rgb(214, 181, 110);
$hover-primary: rgb(230, 204, 150);
$primary-gray: #e7e7e7;
$primary-green: #3ec483;
$primary-dark: #253237;
$primary-dark-hover: #474747;
$secondary-dark: #666;
$secondary-gray: #f8f8f8;
$third-gray: #d1d1d1;

$primary-admin: #43435e;
$primary-admin-hover: #313147;
$primary-admin-light: #8f8fc3; */

* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.vs-shop {
  background-color: white;
}

.vs-shop__header {
  background-color: blanchedalmond;
  background-image: url(./images/header-bg.png);
  background-size: cover;
  padding: 240px 32px;
}

.vs-shop__title {
  color: rgb(128 80 29);
  font-size: 48px;
  max-width: 50vw;
  margin-bottom: 16px;
}

.vs-shop__subtitle {
  font-size: 36px;
  color: rgb(128 80 29);
  margin: 32px 0;
  text-align: center;
  font-weight: bold;
}

.vs-shop__btn-row {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.vs-shop__btn {
  padding: 16px 32px;
  color: white;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border: none;

  transition: .25s;
}

.vs-shop__btn_fill {
  background-color: rgb(128 80 29);
}

.vs-shop__btn_fill:hover {
  background-color: rgb(230, 204, 150);
}

.vs-shop__btn_outline {
  border: 2px solid rgb(128 80 29);
  background-color: transparent;
  color: rgb(128 80 29);
}

.vs-shop__btn_outline:hover {
  background-color: rgb(128 80 29);
  color: white;
}

.vs-shop__btn:first-child {
  margin-right: 16px;
}

.vs-shop__features {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.vs-shop__features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  flex: 1;
  margin-right: 16px;
  /* background-color: #f4eae0; */
}

.vs-shop__features-item:nth-child(1) {
  background-color: #f3eddf;
}

.vs-shop__features-item:nth-child(1) * {
  color: rgb(175 135 49);
}

.vs-shop__features-item:nth-child(2) {
  background-color: rgb(252, 237, 230);
}

.vs-shop__features-item:nth-child(2) * {
  color: rgba(137,66,46,0.64);
}

.vs-shop__features-item:nth-child(3) {
  background-color: #fff9f1;
}

.vs-shop__features-item:nth-child(3) * {
  color: rgba(166,110,60,0.61);
}

.vs-shop__features-item:nth-child(4) {
  background-color: rgb(128 80 29);
}

.vs-shop__features-item:nth-child(4) * {
  color: white;
}


.vs-shop__features-item:last-child {
  margin-right: 0;
}

.vs-shop__feature-title, .vs-shop__feature-desc, .vs-shop__feature-desc a {
  color: rgb(128 80 29);
  font-weight: bold;
}

.vs-shop__feature-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.vs-shop__feature-desc {
  font-size: 18px;
}

.vs-shop__about, .vs-shop__gallery {
  display: flex;
  justify-self: center;
  max-width: 1200px;
  padding: 0 16px;
}

.vs-shop__about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vs-shop__about-desc {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
  color: rgb(128 80 29);
}

.vs-shop__gallery {
  display: flex;
  flex-direction: row;
}

.vs-shop__gallery {
  width: 100%;
}

.vs-shop__gallery-column{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 24px;
}

.vs-shop__gallery-column img {
  display: flex;
  flex: 1;
  object-fit: cover;
  margin-bottom: 24px;
}

.vs-shop__gallery-column:nth-child(2) {
  flex-direction: column-reverse;
}

.vs-shop__gallery-column img:nth-child(1) {
  max-height: 400px;
  height: 66%;
}

.vs-shop__gallery-column img:nth-child(2) {
  max-height: 250px;
  height: 33%;
}

.vs-shop__gallery-column:last-child {
  margin-right: 0;
}

.vs-shop__products {

}

.vs-shop__contacts {

}
