@import '../general/colors.scss';
@import '../general/resolutions.scss';

.catalog-nav {
    width: 100%;

    &__list {
        @media (max-width: $mobile-vertical) {
            font-size: 14px;
        }
    }

    &__item {
        text-decoration: none;
        display: inline;
        cursor: pointer;
        transition: 0.4s;

        &::after {
            content: '>';
            font-weight: bold;
            padding: 0px 10px 0px 10px;
            color: rgb(202, 202, 202) !important;

        }

        &:hover {
            color: $primary;
        }
    }

    &__item:last-child {
        pointer-events: none;
        
        &::after {
            content: '' !important;
        }
    }
}