@import '../general/colors.scss';
@import '../general/resolutions.scss';

.footer {
    width: 100vw;
    margin-top: 30px;
    padding: 40px 0px 20px 0px;
    background-color: $primary-gray;

    &__container {
        justify-content: space-between !important;
        width: 100%;
        max-width: 1600px;
        padding: 0px 20px 30px 20px;

        @media(max-width: $mobile-vertical) {
            flex-direction: column !important;
        }
    }

    &__logo {
        &_top {
            display: none;
            padding-bottom: 30px;

            @media(max-width: $tablet-horizontal) {
                display: block;
            }
        }

        &_left {
            display: block;

            @media(max-width: $tablet-horizontal) {
                display: none;
            }
        }
    }

    &__block {
        @media(max-width: $mobile-vertical) {
            padding-bottom: 20px;
        }
    }

    &__text {
        font-size: 18px;
        padding-right: 10px;

        @media(max-width: $tablet-horizontal) {
            font-size: 14px;
        }
    }

    &__contacts {

    }

    &__contact-item {
        
    }

    &__icon {
        width: 32px;
        height: 32px;
        mask-size: contain;
        background-color: $primary-dark;
        margin-right: 10px;
        mask-repeat: no-repeat;

        @media (max-width: $laptop) {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        &_time {
            mask-image: url('../../assets/images/clock.svg');
        }

        &_phone {
            mask-image: url('../../assets/images/phone.svg');
        }

        &_facebook, &_telegram {
            width: 24px;
            height: 24px;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                background-color: $primary;
            }
        }

        &_facebook {
            mask-image: url('../../assets/images/facebook.svg');
        }

        &_telegram {
            mask-image: url('../../assets/images/telegram.svg');
        }
    }

    &__copyright {
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }
}