@import '../../styles/constants/resolutions.scss';

.shop {
    width: 100%;

    &__content {
        width: 100%;
    }

    &__loader {}

    &__side-bar {
        max-width: 300px;
        padding-right: 30px;

        @media (max-width: $tablet-horizontal) {
            padding-right: 0px;
        }
    }
}