@import '../../styles/constants/resolutions.scss';
@import '../../styles/constants/colors.scss';

.shop {
    width: 100%;

    &__content {
        position: relative;
        width: 100%;
    }

    &__loader {}

    &__side-bar {
        min-width: 300px;
        padding-right: 30px;

        @media (max-width: $tablet-horizontal) {
            min-width: 0px;
            padding-right: 0px;
        }
    }

    &__nothing-found {}

    &__nothing-found-text {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    &__nothing-found-icon {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-image: url('../../assets/images/not-found.svg');
        background-color: $primary-dark;
    }

    &__empty-catalog {}

    &__empty-catalog-icon {
        width: 70px;
        height: 70px;
        margin-right: 30px;
        mask-repeat: no-repeat;
        mask-size: contain;
        mask-image: url('../../assets/images/no-filter.svg');
        background-color: $primary-dark;
    }
}