@import '../../../../styles/constants/colors.scss';
@import '../../../../styles/constants/resolutions.scss';

.filters {
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    background-color: white;

    @media (max-width: $tablet-horizontal) {
        position: fixed;
        top: 0;
        left: -450px;
        padding: 20px;
        min-height: 100vh;
        max-width: 350px;
        width: 100%;
        z-index: 10;
        overflow-y: auto;
        transition: 0.25s;
    }

    &__mask {
        @media (max-width: $tablet-horizontal) {
            position: fixed;
            top: 0;
            left: 0px;
            width: 100vw;
            height: 100vh;
            z-index: -1;
            opacity: 0.5;
            transition: 0.25s;

            &_opened>.filters {
                left: 0;
            }

            &_opened {
                z-index: 100;
                opacity: 1;
                pointer-events: all;
                background-color: rgba(0, 0, 0, 0.534);
            }
        }
    }

    &__content {
        width: 100%;
    }

    &__close-btn {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 24px;
        width: 24px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: calc(50% - 1px);
            right: 0;
            width: 20px;
            height: 2px;
            content: "";
            -webkit-transition: all .5s ease 0s;
            transition: all .5s ease 0s;
            background-color: $primary;
        }

        &::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        @media (max-width: $tablet-horizontal) {
            display: block;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 15px;
        color: black;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: rgb(211, 211, 211);
    }

    &__price {
        margin: 15px 0px 15px 0px;
    }

    &__attr {}

    &__attr-name {
        position: relative;
        font-weight: 500;
        transition: 0.25s;
        padding: 12px 0px;

        &_touchable {
            border-bottom: 1px solid #ededed;
            cursor: pointer;

            &::after {
                content: '+';
                position: absolute;
                right: 0;
                font-weight: bold;
                color: $primary-dark;
                transition: 0.25s;
            }

            &:hover,
            &:hover::after {
                color: $primary;
            }
        }

    }

    &__attr-list {
        height: 0;
        list-style-type: none;
        overflow: hidden;
        margin-left: 10px;
        transition: 0.25s;
    }

    &__attr-item {
        padding: 10px 0px 10px 10px;
        border-bottom: 1px solid #ededed;

        &:hover>.filters__checkmark {
            border: 1px solid $primary;
        }

        &_disable {
            .filters__attr-value {
                cursor: auto;
                pointer-events: none;
                color: #9c9c9c;
            }

            .filters__checkmark {
                background-color: #bdbdbd;
                border: 1px solid #bdbdbd !important;

                &::after {
                    background: none;
                }
            }
        }
    }

    &__attr-value {
        display: block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            color: $primary;
        }

        &:hover>.filters__checkmark {
            border: 1px solid $primary;
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked~.filters__checkmark {
            border: 1px solid $primary;
        }

        &:checked~.filters__checkmark::after {
            display: block;
        }
    }

    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid rgb(161, 161, 161);

        &::after {
            content: "";
            display: none;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            background: $primary;
        }
    }

    &__categories {
        width: 100%;
    }

    &__categories-item {
        width: 100%;
        padding: 10px 0px;
        border-bottom: 1px solid #ededed;
    }

    &__categories-link {
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;


        &:hover {
            color: $primary;
        }
    }
}