@import '../../styles/constants/colors.scss';
@import '../../styles/constants/resolutions.scss';

.footer {
  width: 100%;
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #242424;

  &__blocks {
    width: 100%;
    justify-content: space-around;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &-title {
      font-size: 16px;
      color: white;
      font-weight: bold;
      margin: 12px 0;

      &:first-child {
        margin-top: 0;
      }
    }

    &-info {
      font-size: 16px;
      color: white;
      margin-bottom: 4px;
    }

    a {
      color: white;
      text-decoration: none;
      transition: .25s;
      margin-bottom: 4px;

      &:hover {
        color: $primary;
      }
    }
  }

    &__icon {
        width: 32px;
        height: 32px;
        mask-size: contain;
        background-color: white;
        margin-right: 10px;
        mask-repeat: no-repeat;

        @media (max-width: $laptop) {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        &_time {
            mask-image: url('../../assets/images/clock.svg');
        }

        &_phone {
            mask-image: url('../../assets/images/phone.svg');
        }

        &_facebook,
        &_telegram {
            width: 24px;
            height: 24px;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                background-color: $primary;
            }
        }

        &_facebook {
            mask-image: url('../../assets/images/facebook.svg');
        }

        &_telegram {
            mask-image: url('../../assets/images/telegram.svg');
        }
    }

  &__copyright {
    margin-top: 16px;
    color: white;
  }
}

@media (max-width: $tablet-vertical) {
  .footer {
    // all block 2x2
    &__blocks {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 16px;
    }

    &__block {
      width: 50%;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: $mobile-vertical) {
  .footer {
    &__block {
      width: 100%;
    }
  }
}