@import '../general/colors.scss';
@import '../general/resolutions.scss';

.header {
    width: 100%;
    height: 100px;

    @media (max-width: $mobile-vertical) {
        height: 80px;
    }

    &__burger-menu {
        display: none !important;
        position: relative;
        min-width: 48px;
        height: 44px;
        padding: 0px 10px 0px 10px;
        margin-right: 10px;

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 28px;
            margin: 10px;
            height: 3px;
            background-color: $primary;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        @media (max-width: $tablet-horizontal) {
            display: flex !important;
        }
    }

    &__burger-menu-icon {
        width: 100%;
        height: 3px;
        background-color: $primary;
        cursor: pointer;
        transition: 0.4s;

    }

    &__container {
        justify-content: space-between !important;
        width: 100%;
        height: 100px;
        top: -100px;
        background-color: white;
        padding: 15px;
        transition: top 0.4s;

        &_fixed {
            position: fixed;
            top: 0;
            z-index: 20;
            filter: drop-shadow(0 0 4px gray);
        }

        @media (max-width: $mobile-vertical) {
            padding: 10px;
            height: 80px;
        }
    }

    &__logo {
        padding: 0px 20px 0px 20px;

        @media (max-width: $tablet-horizontal) {
            display: none;
        }
    }

    &__nav-list {
        @media (max-width: $tablet-horizontal) {
            display: none;
        }
    }

    &__nav-item {
        display: inline;
        margin:  0px 20px 0px 20px;
        cursor: pointer;
    }

    &__nav-link {
        display: inline;
        position: relative;
        padding-bottom: 7px;
        font-size: 18px;
        font-weight: 700;
        color: black;
        text-decoration: none;
        transition: 0.4s;

        &:hover, &_active {
            color: $primary;
        }
    }

    &__action-area {
        flex: 1;
        max-width: 700px;

        @media (max-width: $tablet-horizontal) {
            max-width: 100%;
        }
    }

    &__search {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        outline: solid 2px $primary;
    }

    &__search-line {
        width: 100%;
        padding-left: 10px;

        @media (max-width: $mobile-vertical) {
            padding: 10px;
        }
    }

    &__search-input {
        flex: 1;
        width: 100px;
        padding-left: 10px;
        outline: none;
        border: none;
        color: #494949;
    }   

    &__icon_search {
        width: 18px !important;
        height: 18px !important;
        cursor: pointer;
        background-color: #757575 !important;
    
    }

    &__search-find {
        height: 100%;
        color: white;
        border-radius: 0px 25px 25px 0px;
        padding: 10px;
        background-color: $primary;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
           background-color: $hover-primary;
        }

        @media (max-width: $mobile-vertical) {
            display: none;
        }
    }

    &__cart {
        padding: 12px;
        cursor: pointer;

        &:hover > .header__cart-btn > .header__icon {
            background-color: $primary;
        }

        &:hover > .header__cart-total {
            color: $primary;
        }

        @media (max-width: $mobile-vertical) {
            padding: 6px;
        }
    }

    &__cart-btn {
        position: relative;
    }

    &__icon {
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 26px;
        height: 26px;
        transition: 0.4s;
        background-color: black;

        &_search {
            mask-image: url('../../assets/images/search.svg');
        }

        &_favorite {
            mask-image: url('../../assets/images/favorite.svg');
        }

        &_cart {
            mask-image: url('../../assets/images/shopping-bag.svg');
        }
    }

    &__item-count {
        right: -7px;
        bottom: -7px;
        position: absolute;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $primary;
        font-weight: 400;
        color: white;
    }

    &__cart-total {
        transition: 0.4s;
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;

        @media (max-width: $mobile-vertical) {
            font-size: 14px;
        }

        @media (max-width: $mobile-mini) {
            display: none;
            margin-left: 0px;
        }
    }
}

