@import '../../styles/constants/colors.scss';
@import '../../styles/constants/resolutions.scss';

.slider-products {
    padding-top: 40px;
    width: 100%;

    &__head {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__title {
        position: relative;
        font-size: 28px;
        font-weight: bold;

        @media (max-width: $tablet-vertical) {
            font-size: 22px;
        }
    }

    &__slider-container {
        position: relative;
        max-width: 100%;
        width: 100%;

        &:hover>.product__arrow {
            opacity: 1;
        }
    }

    &__slider {
        width: 100%;
    }

    &__slide {
        flex: 1;
    }

    &__arrow {
        width: 44px !important;
        height: 44px !important;
        font-size: 20px !important;
        background-color: $primary-gray;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;


        @media (max-width: $tablet-vertical) {
            width: 36px !important;
            height: 36px !important;
            font-size: 16px !important;
        }

        &:hover {
            color: white;
            background-color: $primary;
        }

        &:first-child {
            margin-right: 15px;
        }
    }

}