@import '../../../../styles/constants/colors.scss';
@import '../../../../styles/constants/resolutions.scss';

.category-editor {
    width: 100%;

    &__loader {
        width: 100%;
        height: 100vh;
    }

    &__created-categories {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between !important;
    }

    &__catalog-editor {
        height: 42px;

        @media (max-width: $mobile-horizontal) {
            flex-direction: column !important;
            height: max-content;
        }
    }

    &__catalog-editor-btns {

        height: 100%;

        @media (max-width: $mobile-horizontal) {
            width: 100%;
            margin-top: 5px;
        }
    }

    &__catalog-editor-btn {
        margin: 0px 10px;

        &:last-child {
            margin: 0px;
        }

        @media (max-width: $mobile-horizontal) {
            margin: 0px 10px 0px 0px;
            flex: 1;
        }
    }

    &__catalogs-list {
        width: 100%;
        margin-top: 5px;
    }

    &__catalog-item {
        height: 55px;
    }

    &__catalog-name {
        width: 100%;
        border: 1px solid $primary-gray;
        padding: 10px;
        margin: 5px 0px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            box-shadow: 0px 0px 3px black;
        }
    }

    &__catalog-del-wrapper {
        height: 45px;
        width: 45px;
        margin-left: 10px;
        background-color: $primary-admin;
        cursor: pointer;
    }

    &__catalog-del {
        width: 20px;
        height: 20px;
        background-color: white;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $third-gray;
        margin-bottom: 20px;
    }

    &__form {
        flex: 1;

        @media (max-width: $mobile-horizontal) {
            flex-direction: column;
        }
    }

    &__left-form {
        padding-right: 30px;

        @media (max-width: $mobile-horizontal) {
            padding-right: 00px;
        }
    }

    &__right-form {
        flex: 1;
        height: 100%;
    }

    &__edit-img-cont {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        cursor: pointer;
        transition: 0.4s;

        &:hover>.category-editor__edit-img-border {
            border: dashed $secondary-dark;
        }

        &:hover .category-editor__edit-img-icon {
            background-color: $secondary-dark;
        }
    }

    &__edit-img-border {
        border: dashed rgb(158, 158, 158);
        transition: 0.4s;
    }

    &__edit-img {
        width: 330px;
        height: 330px;
    }

    &__editor-head {
        justify-content: space-between !important;
        margin-bottom: 10px;
    }

    &__action-btn {
        width: 100%;
        height: 70px;
        margin-top: 5px;

        text-align: center;
        font-size: 22px;
        color: white;
        cursor: pointer;
        transition: 0.4s;

        &_accept {
            background-color: $primary-admin;

            &:hover {
                background-color: $primary-admin-hover;
            }
        }

        &_delete {
            background-color: rgb(221, 51, 51);

            &:hover {
                background-color: rgb(172, 33, 33);
            }
        }
    }

    &__name {
        font-size: 24px;
    }

    &__is-new {
        width: max-content !important;
        min-width: 0px !important;
        padding: 0px 15px 0px 0px !important;
    }

    &__key-attrs {
        font-size: 24px;
        margin: 10px 0px;
    }

    &__key-attrs-list {}

    &__key-attr-item {
        width: 100%;
    }


    &__del-attr {
        width: 42px;
        height: 42px;
        margin-left: 10px;
        background-color: $primary-admin;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            background-color: $primary-admin-hover;
        }
    }

    &__mobile-actions {
        width: 100%;
        display: none;

        @media (max-width: $mobile-horizontal) {
            display: flex;
        }
    }

    &__desctop-actions {
        width: 100%;
        display: flex;

        @media (max-width: $mobile-horizontal) {
            display: none;
        }
    }
}