@import '../../styles/constants/resolutions.scss';

.admin {
    width: 100%;


    &__nav-bar {
        min-width: 270px;

        @media (max-width: $laptop) {
            min-width: 75px;
        }
    }

    &__content {
        flex: 1;
        padding: 15px 25px;
    }
}