@import '../general/colors.scss';
@import '../general/resolutions.scss';

.checkout {
    @media (max-width: $tablet-horizontal) {
        margin-top: 20px;
        flex-direction: column !important;
        align-items: center;
    }

    &__details {
        width: 60%;

        @media (max-width: $tablet-horizontal) {
            width: 100%;
            max-width: 700px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;

        @media (max-width: $mobile-vertical) {
            font-size: 20px;
        }
    }

    &__inputs-row {
        margin-bottom: 20px;

        @media (max-width: $mobile-vertical) {
            flex-direction: column !important;
            align-items: center;
        }
    }

    &__input {
        input {
            transition: 0.4s;
        }


        &_invalid input {
            border-color: rgb(252, 157, 157);
        }
    }

    &__input:first-child {
        margin-right: 30px;

        @media (max-width: $mobile-vertical) {
            margin-right: 0px;
        }
    }

    &__selector {
        margin-top: 20px;
    }

    &__additional-head {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__additional-info {
        margin-top: 40px;
    }

    &__additional-area {
        width: 100%;
        min-height: 200px;
        outline: none;
        border: solid 1px $primary-gray;
        padding: 20px;
        font-size: 16px;
    }

    &__order {
        width: 40%;
        margin-left: 30px;

        @media (max-width: $tablet-horizontal) {
            width: 100%;
            max-width: 700px;
            margin: 20px 0px 0px 0px;
        }
    }

    &__order-container {
        padding: 45px;
        background-color: rgb(247, 247, 247);

        @media (max-width: $mobile-vertical) {
            padding: 20px;
        }

    }

    &__order-head {
        position: relative;
        width: 100%;
        justify-content: space-between !important;
        padding-bottom: 30px;
        border-bottom: 1px solid $secondary-gray;
    }

    &__order-text {
        font-size: 14px;

        &_bold {
            font-weight: bold;
        }

        &_primary {
            color: $primary;
        }

        &_large {
            font-size: 18px;
        }
    }

    &__order-product-list {
        position: relative;
        width: 100%;
        padding-top: 10px;
        border-bottom: 1px solid $secondary-gray;
        margin-bottom: 25px;
    }

    &__order-product {
        width: 100%;
        justify-content: space-between !important;
        color: $secondary-gray;
        padding: 5px 0px 5px 0px;
    }

    &__order-delivery {
        width: 100%;
        justify-content: space-between !important;
        border-bottom: 1px solid $secondary-gray;
        margin-bottom: 20px;
    }

    &__total {
        width: 100%;
        justify-content: space-between !important;

    }

    &__order-accept {
        color: white;
        padding: 15px;
        border-radius: 50px;
        background-color: $primary;
        margin-top: 20px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            background-color: $hover-primary;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #dee0e4;
        margin-bottom: 20px;
    }
}