@import '../../../../styles/constants/colors.scss';
@import '../../../../styles/constants/resolutions.scss';

.catalog {
    &__product-grid-cont {
        width: 100%;
    }

    &__products-grid {
        justify-content: space-between !important;
        width: 100%;
        flex-wrap: wrap;
    }

    &__product-container {
        width: calc(25% - 4px);

        @media (max-width: $desctop) {
            width: calc(33.33% - 4px);
        }

        @media (max-width: $laptop) {
            width: calc(50% - 4px);
        }

        @media (max-width: $tablet-horizontal) {
            width: calc(33.33% - 4px);
        }

        @media (max-width: $tablet-horizontal) {
            width: calc(50% - 4px);
        }

        &_large {
            width: 100%;
        }

        &_inactive-links {
            cursor: pointer;

            a {
                pointer-events: none;
            }
        }

        a {
            text-decoration: none;
        }
    }

    &__settings {
        margin-bottom: 14px;
        width: 100%;
    }

    &__view-modes {
        width: 100%;
    }


    &__mask-container {
        height: 37px;
        width: 37px;
        padding: 9px;
        margin-right: 10px;
        border: solid 1px $primary;
        transition: 0.4s;
        cursor: pointer;

        @media (max-width: $mobile-vertical) {
            margin-right: 0px;
        }


        &:hover {
            background-color: $primary;
        }

        &:hover>.catalog__view-mode {
            background-color: white;
        }

        &_selected {
            background-color: $primary;
        }

        &_selected>.catalog__view-mode {
            background-color: white;
        }
    }

    &__view-mode {
        width: 100%;
        height: 100%;
        mask-size: contain;
        background-color: white;
    }

    &__view-grid {
        background-color: $primary;
        mask-image: url('../../../../assets/images/grid.svg');
    }

    &__view-list {
        background-color: $primary;
        mask-image: url('../../../../assets/images/list.svg');
    }

    &__view-and-sort {
        width: 100%;
    }

    &__filters {
        display: none;
        position: relative;
        height: 37px;
        background-color: $primary;
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 0px 10px;
        margin: 0px 10px;
        padding-left: 40px;
        cursor: pointer;

        &:hover {
            background-color: $hover-primary;
        }

        &::before {
            content: "";
            mask-size: contain;
            mask-repeat: no-repeat;
            position: absolute;
            top: calc(50% - 8px);
            left: 15px;
            height: 16px;
            width: 16px;
            mask-image: url('../../../../assets/images/filter.svg');
            background-color: white;
        }

        @media (max-width: $tablet-horizontal) {
            display: flex;
        }

        @media (max-width: 400px) {
            padding-left: 10px;
            font-size: 14px;

            &::before {
                display: none;
            }
        }
    }

    &__sort {
        position: relative;

    }

    &__selected-sort {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
        font-size: 12px;
        border-radius: 5px;
        border: solid 1px $primary-gray;
        padding: 10px 20px 10px 10px;
        transition: 0.4s;
        cursor: pointer;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */

        &:hover {
            border: solid 1px rgb(201, 201, 201);
        }

        &::after {
            width: 3px;
            height: 3px;
            content: '';
            display: block;
            position: absolute;
            right: 12px;
            top: 50%;
            border-bottom: 2px solid gray;
            border-right: 2px solid gray;
            margin-top: -3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transition: 0.25s;
        }

        &_open {
            &::after {
                transform: rotate(225deg);
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
            }
        }

        @media (max-width: $mobile-vertical) {
            width: 150px;
        }

        @media (max-width: $mobile-mini) {
            width: 120px;
        }
    }

    &__sort-list {
        width: 200px;
        transform-origin: top;
        transform: scale(0.5);
        opacity: 0;
        pointer-events: none;
        overflow-y: hidden;
        position: absolute;
        top: 40px;
        left: 0;
        list-style-type: none;
        font-size: 12px;
        border: solid 1px $primary-gray;
        background-color: white;
        z-index: 5;
        transition: 0.25s;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */

        &_open {
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }

        @media (max-width: $mobile-vertical) {
            width: 150px;
        }

        @media (max-width: $mobile-mini) {
            width: 120px;
        }
    }

    &__sort-item {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $primary-gray;
        }
    }
}