@import '../general/colors.scss';
@import '../general/resolutions.scss';

.auth {
    width: 100%;
    flex: 1;
    background-color: $primary-admin;

    &__logo {
        margin-bottom: 20px;
    }

    &__container {
        width: 100%;
        max-width: $mobile-vertical;
        background-color:white;
        padding: 30px;
        box-shadow: 0px 0px 10px black;

        @media (max-width: $mobile-vertical) {
            padding: 20px 15px 20px 15px;
            height: 100vh;
        }
    } 

    &__input {
        width: 100%;
        margin-top: 20px; 
        padding: 10px;
        outline: none;
        border: 1px solid rgb(209, 209, 209);
    
        &_invalid {
             border: 1px solid rgb(255, 132, 132);
        }
    }

    &__login {
        width: 100%;
        border-radius: 25px;
        padding: 10px;
        background-color:  $primary-admin;
        text-align: center;
        font-size: 24px;
        color: white;
        margin-top: 30px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            background-color:  $primary-admin-hover;
        }

        @media (max-width: $mobile-vertical) {
            font-size: 18px;
            margin-top: 25px;
        }
    }

    &__error {
        width: 100%;
        text-align: start;
        margin-top: 10px;
        font-size: 12px;
        color: red;
    }
}