@import '../general/colors.scss';
@import '../general/resolutions.scss';

.product-quick-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: -1;
    opacity: 0;

    @media (max-width: $tablet-vertical) {
        justify-content: flex-start !important;
        padding: 20px;
    }

    @media (max-width: $mobile-vertical) {
        padding: 15px;
    }

    &_open {
        z-index: 100;
        opacity: 1;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 800px;
        opacity: 0;
        height: max-content;
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        transition: 0.25s;

        @media (max-width: $tablet-vertical) {
            padding: 50px 20px 20px 20px;
        }

        @media (max-width: $mobile-vertical) {
            padding: 50px 15px 15px 15px;
        }


        &_open {
            opacity: 1;
        }
    }

    &__close {
        position: absolute;
        top: 18px;
        right: 18px;
        width: 18px;
        height: 18px;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 18px;
            height: 3px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: $primary;
            transition: 0.4s;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            width: 18px;
            height: 3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            background-color: $primary;
            transition: 0.4s;
        }

        &:hover::after, &:hover::before {
            background-color: $hover-primary;
        }
    }
}