@import '../general/colors.scss';
@import '../general/resolutions.scss';

.product {
    flex: 1;

    &__container {
        width: 100%;
    }

    &__info {
        width: 100%;

        @media (max-width: $tablet-vertical) {
            flex-direction: column !important;
            align-items: center !important;
        }
    }

    &__images {
        width: 35%;
        max-width: 400px;
        padding-right: 20px;

        @media (max-width: $tablet-vertical) {
            width: 100%;
            max-width: 100%;
            padding: 0px 0px 20px 0px;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        border: solid 1px $primary-gray;
        padding: 20px;
    }

    &__img-container {
        position: relative;
        margin-bottom: 15px;

        &:hover>.product__arrow {
            opacity: 1;
        }
    }

    &__slider-container {
        position: relative;
        max-width: 100%;
        width: 100%;

        &:hover>.product__arrow {
            opacity: 1;

        }
    }

    &__slider {
        width: 100%;
        cursor: pointer;
    }

    &__slider-slide {
        width: 100%;
        height: auto;
        border: solid 1px $primary-gray;
    }

    &__arrow {
        position: absolute;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        background-color: $primary-gray;
        opacity: 0;
        font-size: 18px;
        font-weight: bold;
        transition: 0.2s;
        cursor: pointer;
        transition: 0.4s;
        z-index: 99;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */

        &:hover {
            color: white;
            background-color: $primary;
        }

        &_back {
            left: 0;
        }

        &_next {
            right: 0;
        }
    }

    &__content {
        flex: 1;
        height: 100%
    }

    &__title {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 10px;
    }

    &__price {
        position: relative;
        width: 100%;
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-gray;
    }

    &__old-price {
        text-decoration: line-through;
        color: gray;
        font-size: 20px;
    }

    &__current-price {
        margin-right: 10px;
        font-size: 22px;
    }

    &__desc {
        flex: 1;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        padding: 20px 0px 20px 0px;
    }

    &__actions {
        height: 70px;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid $primary-gray;
    }

    &__count-actions {
        border: solid 1px $primary-gray;
        padding: 0px 12px 0px 12px;
        line-height: 46px;
        margin-right: 15px;
    }

    &__count {
        width: 32px;
        font-size: 14px;
        line-height: 46px;
        border: none;
        outline: none;
        text-align: center;
    }

    &__count-btn {
        height: 100%;
        width: 12px;
        font-size: 20px;
        cursor: pointer;
        color: rgb(68, 68, 68);
    }

    &__cart {
        margin-left: 15px;
        padding: 11px 20px 11px 20px;
        border-radius: 5px;
        background-color: $primary;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            background-color: $primary-dark;
        }
    }

    &__cart-img {
        width: 24px;
        height: 24px;
        mask-size: contain;
        mask-image: url('../../assets/images/shopping-bag.svg');
        background-color: white;
    }

    &__cart-btn-text {
        font-size: 14px;
        padding-left: 15px;
        color: white;
    }

    &__avalibility {
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0px 10px 0px;
    }

    &__avalibility-status {
        font-size: 18px;
        margin-left: 10px;

        &_green {
            color: rgb(22, 212, 22);
        }
    }

    &__share-actions {}

    &__share {
        font-size: 18px;
        font-weight: bold;
    }

    &__share-action {
        width: 18px;
        height: 18px;
        mask-size: contain;
        background-color: rgb(185, 185, 185);
        cursor: pointer;
        transition: 0.4s;
        margin-left: 8px;

        &:hover {
            background-color: $primary;
        }

        &_facebook {
            mask-image: url('../../assets/images/facebook.svg');
        }

        &_telegram {
            mask-image: url('../../assets/images/telegram.svg');
        }
    }

    &__loader {}
}

.description {
    width: 100%;


    &__buttons {
        margin-top: 20px;
    }

    &__btn {
        position: relative;
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 15px;
        margin: 0px 25px 0px 25px;
        color: gray;
        transition: 0.4s;

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 3px;
            opacity: 0;
            background-color: $primary;
            transition: 0.4s;
        }

        &:hover {
            color: black;
        }

        &_selected {
            color: black;

            &::after {
                opacity: 1;
            }
        }
    }

    &__container {
        width: 100%;
        padding: 25px;
        border: solid 1px $primary-gray;
    }

    &__text {
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
    }

    &__details {
        width: 100%;
        padding-bottom: 5px;
    }

    &__list {
        padding-right: 35px;
    }

    &__list-item {
        list-style-type: none;
        padding-bottom: 15px;

        &_attr {
            min-width: 180px;
        }

        &_val {
            color: gray;
        }
    }


}

.comments {}