$primary: rgb(214, 181, 110);
$hover-primary: rgb(230, 204, 150);
$primary-gray: #e7e7e7;
$primary-dark: #253237;
$secondary-dark: #666;
$secondary-gray: #f8f8f8;
$third-gray: #d1d1d1;

$primary-admin: #43435e;
$primary-admin-hover: #313147;