@import '../../../styles/constants/colors.scss';
@import '../../../styles/constants/resolutions.scss';

.product-card-large {
    width: 100%;
    border: solid 1px gainsboro;
    margin-bottom: 20px;
    padding: 20px;

    @media (max-width: $mobile-vertical) {
        flex-direction: column !important;
        align-items: center !important;
    }

    @media (max-width: $tablet-vertical) {
        padding: 10px;
    }

    &__img-container {
        position: relative;
        width: 250px;
        margin-right: 20px;

        &:hover>.product-card__actions {
            opacity: 1;
        }

        @media (max-width: $mobile-vertical) {
            width: 100%;
            margin: 0px 0px 20px 0px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;

        @media (max-width: $tablet-vertical) {
            font-size: 16px !important;
        }
    }

    &__brand {
        font-size: 14px;
        color: #a9a9a9;
        margin-bottom: 10px;
    }

    &__img {
        width: 100%;
        height: auto;
        border: solid 1px gainsboro;
    }

    &__info {
        flex: 1;
    }

    &__desc {
        text-align: justify;
        margin-bottom: 20px;
        font-size: 14px !important;
    }

    &__price {
        margin-bottom: 10px;

    }

    &__current-price {
        font-size: 16px;
        font-weight: bold;

        @media (max-width: $tablet-vertical) {
            font-size: 16px !important;
        }
    }

    &__old-price {
        font-size: 16px;
        font-weight: bold;
        margin-left: 10px;

        color: gray;
        text-decoration: line-through;

        @media (max-width: $tablet-vertical) {
            font-size: 16px !important;
        }
    }

    &__footer {
        width: 100%;
        margin-top: auto;
        margin-bottom: 5px;
    }

    &__availability {
        margin-left: auto;
    }
}