@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #253237;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
    overflow-y:auto;
    resize: vertical;
}

li {
    list-style-type: none;
}

body {
    background-color: white;
}

.app {

    &__content {
        width: 100%;
    }

    &__page {
        width: 100%;
        max-width: 1600px;
        padding: 20px;
    }
}